.donate-form {
  width: 350px;
  min-height: 300px;
  position: relative;

  &__btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }
}